/* Container principal */
.main-layout {
	display: flex;
	height: 100vh;
	background-color: #020617;
	color: rgb(226 232 240);
	overflow: hidden;
}

/* Conteneur du contenu (tout sauf sidebar) */
.main-layout__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

/* Zone principale scrollable */
.main-layout__main {
	flex: 1;
	overflow-y: auto;
}
